/* cascade */

*{
    font-family: Tahoma;
}

h1{
    font-family: Times;
}

h3{
    font-family: Arial;
    font-size: 16px;
}

h3 span{
    font-family: Arial;
    color:red
}

/* merubah span */
span{
    color:blue
}
/* inheritance */

/* span dalam heading */
h3{
    font-size: 25px; /* span pun akan ikut berubah */
    padding:10px;
}
 h3>span{
    padding-left: inherit;
    padding-right: inherit;
 }

 /* color */

 h2{
    background-color: black;
    color: aliceblue;
    padding:10px;
 }

 h3{
    background-color: rgba(100,25,0,0.2);
 }

 h1{
    background-color: #e48080;
    padding:10px;
    text-align: center;
 }
 
 body{
    background-color: rgb(240, 227, 226);
 }